[Desktop Entry]
Name=Discover Overlay Configure
Comment=Voice chat overlay configuration
Exec=discover-overlay --configure
Icon=discover-overlay
Terminal=false
Type=Application
Categories=Utility;TelephonyTools
Keywords=Discord
Actions=Show;Hide;Mute;Unmute;Deaf;Undeaf

[Desktop Action Mute]
Exec=discover-overlay --rpc --mute
Name=Mute Self

[Desktop Action Unmute]
Exec=discover-overlay --rpc --unmute
Name=Unmute Self

[Desktop Action Hide]
Exec=discover-overlay --rpc --hide
Name=Hide Overlay

[Desktop Action Show]
Exec=discover-overlay --rpc --show
Name=Show Overlay

[Desktop Action Deaf]
Exec=discover-overlay --rpc --deaf
Name=Deafen Self

[Desktop Action Undeaf]
Exec=discover-overlay --rpc --undeaf
Name=Undeafen Self
